# To test this: git archive --format zip -v -o telegram-api.zip HEAD
tests/ export-ignore
vendor/ export-ignore
logs/ export-ignore
.docksal/ export-ignore

.git* export-ignore
.*.yml export-ignore
phpunit.xml.dist export-ignore

*.php diff=php
