<phpunit colors="true" bootstrap="vendor/autoload.php" strict="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/unreal4u/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

    <testsuite name="telegramApi">
        <directory>./tests/</directory>
    </testsuite>

    <logging>
        <!-- log type="coverage-html" target="tests/report/" charset="UTF-8" / -->
    </logging>
</phpunit>
